<main>
  <app-learning-resources  />
  <hr />
  <app-auth  />
   <!--@if(isAdmin()){
    <p>Only admins schould see this</p>
  }-->
  <!-- <!-< *ngIf="isAdmin()">Only admins schould see this!</p> -->
  <!-- <p appAuth="admin">Only admins schould see this!</!--<p> -->

  <!-- <ng-template appAuth="admin">
    <p>Only admins schould see this!</p>
  </ng-template>
-->
  <p *appAuth="'admin'" appLog class="protected-content admin">Only admins schould see this!</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">Regular users should see this!</p>
  <p *appAuth="'guest'" class="protected-content authenticated">Guest users should see this!</p>
</main>

